src/main/mule/dbsystemapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="0cd11b77-2ae5-47c9-80da-602ec7070cd1" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="85775204-9a29-4e17-9c5d-69c18987c80b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Haari@36" database="harika" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="57488b3b-f912-41de-97e8-f1deb0d5b9ab" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Haari@36" database="harika" />
	</db:config>
	<flow name="dbsystemapiFlow1" doc:id="b1a5cb6e-0401-4942-8e70-4acb2faf1ff0" >
		<http:listener doc:name="Listener" doc:id="26f125dc-b7d7-42f7-9a96-d649697fa15b" config-ref="HTTP_Listener_config1" path="/dbsysapi" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="9018dfa3-4d6b-4703-96c1-0c2c23fd74bf" message='#["db started"]'/>
		<ee:transform doc:name="Transform Message" doc:id="65537e39-d25e-458a-b58e-48928ede93d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="46981045-9645-444b-9832-41b024267408" config-ref="Database_Config1">
			<db:sql ><![CDATA[insert into products 
values(:productid,:productname,:cost)]]></db:sql>
		</db:bulk-insert>
	</flow>
</mule>
